@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



:root {
    --colorpri: #2b4bad;
    --color1: #c6d2ea;
    --color2: #7794d2;
    --color3: #4e77c3;
    --color4: #034bb2;
    --color5: #3262bc;
    --color6: #4C0677;
    --color7: #119607;
    --colorwht: #fff;
    --colorcabecalho: #1e1c43;
    --bordertest:1px solid red;
    --border2: 10px;
    --borderbutton: 0.1px solid #fff;
}

*{
    max-width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    
}

body{
    max-width:100vw;
    font-size: 100%;
    font-weight: 200;
   
    
}

.cabecalho {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;  
    
}

.cabecalho-video {
    width: 100%;
    position: absolute;
    bottom: 0;
    min-width: 30vw;
    min-height: 132vh;
    z-index: -1;
    
}

.cabecalho-contato {
    margin-top: 10px;
    color: var(--colorwht);
    width: 80vw;
    font-weight: 500;
    font-size: 1em;
    text-align:right;

    
}

.cabecalho-1 {
    margin-top: 10px;
    width: 80vw;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;

   
}

.cabecalho-logo {
    width: 10vw;

    
}

.cabecalho-menu{
    margin-left: 30px;
    
}
.cabecalho-menu-item{
    color: var(--colorwht);
    font-weight: 500;
    font-size: 1em;
    margin-left: 25px;
    text-transform: uppercase;
   

}

.cabecalho-menu-item-icon {
    width: 1em;    
    color: var(--colorwht);
    padding-left: 25px;
    
}

.cabecalho-texto {
    margin-top: 30px;
    width: 50vw;
    color: var(--colorwht);
    text-align: center;

    
}

.cabecalho-texto2 {
    margin-top: 30px;
    width: 50vw;
    color: var(--colorwht);
    text-align: center;
    font-weight: 200;

    
}

.cabecalho-button {
    margin-top: 50px;
    border: none;
    width: 25vw;
    height: 8vh;
    background-color: var(--color6);
    border: var(--borderbutton);
    border-radius: 20px;
    color: var(--colorwht);
    font-size: 1em;
}



    

.seta-baixo {
    margin-top: 50px;
    height: 30px;

}   
/* inicio conteudo*/
.conteudo {
    background-color: var(--color6);
    width: 100vw;
    height: 850px;
    padding-top: 10px;
    
}
.conteudo-quemsomos {
    font-size: 1.2em;
    margin-top: 25px;
    margin-bottom: 35px;
    width: 160px;
    margin-left: 2%;
    text-transform: uppercase;
    border-bottom: #fff solid 7px;
    color: var(--colorwht);   
}

.conteudo-1 {
    display: flex;
    flex-direction: row;
    gap: 100px;
    align-items: flex-start;
    width: 95vw;
    margin-left: 2%;
}

.conteudo-paragrafo {
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
    width: 800px;
}

.conteudo-paragrafo-a {
    font-size: 1.2em;
    font-weight: 400;
    
    width: 800px;
    display: flex;
    flex-direction: column;
    gap: 35px;
    color: var(--colorwht);
}

.conteudo-imagem {
    width: 50%;
    border-radius: 10px;
}

/* servicos */

.conteudo-servico {
    margin-top: 100px;
    background-color: var(--colorwht);
    width: 100vw;
    height: 600px;
    margin-bottom: 100px;
    padding-top: 15px;
}

.conteudo-servico-nome {
    font-size: 1.2em;
    margin-bottom: 35px;
    width: 100px;
    margin-left: 2%;
    text-transform: uppercase;
    border-bottom: var(--color6) solid 7px;
    color: var(--color6);
    
}

.conteudo-servico-fazemos {
    font-size: 1.2em;
    margin-bottom: 35px;
    margin-left: 2%;
    text-transform: uppercase;
    color: var(--color6);
}
.conteudo-grid-1{
    border-radius: 10px;
    width: 95vw;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    margin-left: 1%;
    gap: 5px;
  
}

.grid {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    width: 25%;
}

.conteudo-txt {
    margin-top:15px;
    text-transform: uppercase;
    text-align: center;
}

.conteudo-paragrafo{
    color: var(--color6);
    font-weight: 400;
    text-align: center;
    width: 90%;
}

.conteudo-grid-2{
    margin-top: 25px;
    border-radius: 10px;
    width: 95vw;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    margin-left: 1%;
    gap: 10px;
}

/* portifólios */

.portifolio {
    margin-top: 100px;
    background-color: var(--color6);
    width: 100vw;
    height: 400px;
    margin-bottom: 100px;
    padding-top: 15px;
}

.portifolio-nome {
    font-size: 1.2em;
    margin-bottom: 35px;
    width: 125px;
    margin-left: 2%;
    text-transform: uppercase;
    border-bottom: var(--colorwht) solid 7px;
    color: var(--colorwht);
}

.portifolio-projetos {
    font-size: 1.2em;
    margin-bottom: 35px;
    margin-left: 2%;
    text-transform: uppercase;
    color: var(--colorwht);
}

.portifolio-img {
    width: 100vw;
}

.testemonial {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 25px;
    padding-top: 15px;
    
}

.testemonial-grid {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 35%;
}

.testemonial-cliente {
    width: 250px;
    border-radius: 50%;
    margin-bottom: 15px;
    border: var(--color6) solid 1px;
}

.testemonial-nome {
    font-size: 1.5em;
    margin-bottom: 15px;
}

.testemonial-txt {
    font-weight: 300;
    text-align: center;
    width: 300px;
}
.rodape {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--color6);
    padding-bottom: 20px;
    margin-top: 1500px;
}

.footer-1 {
    color: var(--colorwht);
    padding-top: 25px;
    font-size: 10px;
}

.footer-img {
    width: 10%;
}

.footer-2 {
    color: var(--colorwht);
    padding-top: 05px;
    font-size: 10px;
}


